# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


#readme
README.md

### Terraform ###
# Local .terraform directories
*/.terraform/

# .tfstate files
*.tfstate
.tfstate.

*.tfvars
*.tfvars.json