# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


### Terraform ###
# Local .terraform directories
*/.terraform/*
terraform/terraform.tfstate.backup
terraform/.terraform.*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json